In [2]:
import pandas as pd

adult_df = pd.read_csv('/Users/michaeltombor/Desktop/Code/adult.data.csv')

adult_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
#how many people of each race are represented in this dataset?
#1
adult_df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [254]:
#2 what is the average age of men?

adult_df['age'].mean().round(2)

38.58

In [22]:
#3 what is the percentage of people who have a bachelors degree?

adult_df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [45]:
#3 answer
((adult_df['education'][adult_df['education'] == 'Bachelors'].count() / adult_df['education'].count())*100).round(2)

16.45

In [257]:
#4 What percentage of people with advanced education (bach, mast, doc) make more than 50k

high_earner_educated = adult_df.query('education in ["Bachelors", "Masters", "Doctorate"] and salary == ">50K"')

total_educated = adult_df['education'].count()

((sal_edu.shape[0]/total)*100).round(2)

10.71

In [274]:
#5 What percentage of people without advanced education make more than 50K?

#sal_noned = adult_df.query('education not in ["Bachelors", "Masters", "Doctorate"] and salary ==">50K"')

#can also be written as: note- not in is just ~isin()
sal_noned = adult_df[~adult_df.education.isin(["Bachelors", "Masters", "Doctorate"]) & (adult_df.salary == ">50K")]

((sal_noned.shape[0]/total)*100).round(2)

13.37

In [166]:
#6 What is the minimum number of hours a person works per week?

adult_df['hours-per-week'].min()

1

In [310]:
#7 What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

#low_effort = adult_df.query('`hours-per-week` == `hours-per-week`.min() and salary == ">50K"') 
#can also be written: 

low_hours = adult_df['hours-per-week'].min()
low_hours_df = adult_df[adult_df['hours-per-week'] == low_hours]

total_low_hours = len(low_hours_df)
num_above_50k = len(low_hours_df[low_hours_df['salary'] == ">50K"])

percent_above_50k = num_above_50k / total_low_hours * 100
                                
print(percent_above_50k)

10.0

In [242]:
#8 What country has the highest percentage of people that earn >50K and what is that percentage?

#need to divide the high earners for each country by the total number of earners in that country

#then compare to each other (used mean for this)

#in sql i would group by country and salary and divide total number in the query.

#The solution is to create a new column that maps a value to each category in salary. greater than 50k is a 1 and less is 0. 
#Then, you group by native country and list the mean of salary num. This gives the percentage. If you did sum it would give total high earners in each country. 

#adult_df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').sum())

#now we need to divide each country's number of high earners by number of total people in each country   

adult_df['salary_num'] = adult_df['salary'].map({'<=50K' : 0, '>50K' : 1})

high_earner_percentage_by_country = adult_df.groupby('native-country')['salary_num'].mean()*100

#high_earner_percentage_by_country = high_earner_percentage_by_country.sort_values(ascending=False)[0].round(2)

print(high_earner_percentage_by_country)

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands             0.000000
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)     0.000000
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: salary_num, dtype: float64

In [224]:
adult_df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean()*100)

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands             0.000000
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)     0.000000
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: salary, dtype: float64

In [331]:
#9 Identify the most popular occupation for those who earn >50K in India.

#So here I need to first find those who make >50k in india. then, I need to group by the occupation and sort by desc to see top

#india_high_earner = adult_df.query('`native-country` == "India" and salary == ">50K"')

india_high_earner = adult_df[(adult_df['native-country'] == "India") & (adult_df['salary'] == ">50K")]

india_high_earner = india_high_earner['occupation'].value_counts()
#.index pulls the label, if i wanted the value i could just say [0]
print(india_high_earner.index[0])

Prof-specialty